
<mat-card-title>Create Card</mat-card-title>
<mat-card-content>
    <form #createLanguageForm="ngForm" class="example-form">
        <mat-form-field class="example-full-width">
            <input 
              matInput
              name="name" 
              id="name" 
              [(ngModel)]="bindingModel.name"
              #nameField="ngModel"
              placeholder="Language"
              required
              >
              <mat-error>
                  Language Name is required
              </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input 
                matInput
                name="code" 
                id="code" 
                [(ngModel)]="bindingModel.code"
                #nameField="ngModel"
                placeholder="Code"
                required
                minlength="2"
                maxlength="2"
                >
                <mat-error>
                    Code is required
                </mat-error>
            </mat-form-field>

        <button mat-raised-button (click)="create()" color="accent" [disabled]="createLanguageForm.invalid">Create</button>
    </form>
</mat-card-content>
